img{
    width: 158px;
    height: 36px;
}
.links{
    list-style-type: none;
    margin-left: 58px;
}
nav{
    display: flex;
    flex-direction: row;
    margin: 10px;
    
}
nav a:hover{
    background-color: aqua;
    color: blue;
}
nav a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
}

.header-cont{
    position: sticky;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: -7.9px;
    background-color: rgb(253, 253, 253);
    top: 0px;
    width: 98.9%;
}
.lady img{
    width: 1000px;
    height: 560px;
    padding: 10px;
    margin-left: 155px;
}
.cont img{
    width: 550px;
    height: 300px;
    margin-left: 190px;
    margin-top: -250px;
}






.foot{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    background-color: rgb(202, 202, 202);
    margin-top: 40px;
    width: 99.7%;
    /* padding: 5px;
    top: 0px; */
    padding: 10px;
    margin: -7.9px;
}
a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-weight: lighter;
    line-height: 25px;
}


.link{
    margin-left: 3px;
    list-style-type: none;
}
.b{
   
}
.c{
  
}
.d{
    background-color: white;
    height: 170px;
    width: 300px;
    padding: -150px;
    margin: -10px;
    margin-left: -55px;
    border-radius: 5px;
    margin-top: 20px;
}
.d h2{
    text-align: center;
    margin-top: 5px;
}
.d h5{
    text-align: center;
    margin-top: 10px;
}
.d input{
  width: 248px;
  margin-left: 23px;
  margin-top: -2px;
}
.d button{
width: 255px;
height: 25px;
background-color: rgb(68, 0, 255);
color: white;
border: none;
margin-left: 23px;

}
hr{
    margin-top: -2px;
    background-color: #d01a1a;
    width: 1000px;
}
.end{
    display: flex;
    padding: 15px;
    margin: -7.9px;
    background-color: rgb(202, 202, 202);
    justify-content: space-around;
}
.e{
    margin-right: 15em;
}
.f{
    display: flex;
    flex-direction: row;
    
}
.linke{
    margin-right: 10px;
    list-style-type: none;
}

@media screen and (max-width:350px) {

    .log img{
        width: 100px;
        height: 36px;
        
    }
    .links{
        list-style-type: none;
        
    }
    nav a{
        text-decoration: none;
        color: black;
        text-transform: capitalize;
        font-weight: bold;
    }
    nav a:hover{
        background-color: aqua;
        color: blue;
    }
    nav{
        display: flex;
        flex-direction: column;
        
        
    }
    .header-cont{
        position: sticky;
        display: flex;
        justify-content: space-around;
        padding: x;
        margin: px;
        background-color: rgb(253, 253, 253);
        top: px;
        width: 95.7%;
    }
    .foot{
        display: flex;
        flex-direction: column;
        width: 94%;
        margin-top: 40px;
    }
    a{
        text-decoration: none;
        color: black;
        text-transform: capitalize;
        font-weight: lighter;
        line-height: 20px;
    }
    .foot h2{
        font-size: 20px;
        margin-left: 25px;
    }
    .link{
        margin-left: 25px;
        list-style-type: none;
    }
    .a p{
        margin-left: 25px;
        margin-right: 25px;
    }
    .d{
        background-color: white;
        height: 150px;
        width: 230px;
        padding: 15px;
        margin: 10px;
        margin-left: 20px;
        border-radius: 5px;
        margin-top: 20px;
    }
    .d h2{
        text-align: center;
        margin-top: 5px;
    }
    .d h5{
        text-align: center;
        margin-top: 10px;
    }
    .d input{
      width: 210px;
      margin-left: 18px;
      margin-top: -2px;
    }
    .d button{
    width: 220px;
    height: 25px;
    background-color: rgb(68, 0, 255);
    color: white; 
    border: none;
    margin-left: 16px;
    
    }
    hr{
        margin-top: -2px;
        background-color: #d01a1a;
        width: 195px;
    } 
    .end{
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: px;
        background-color: rgb(202, 202, 202);
        justify-content: space-evenly;
        width: 91%;
    }
    .e{
        margin-left: 17px; 
    }
    .e img{
        width: 80px;
    }
    .f{
        display: flex;
        flex-direction: row;
        margin-left: 17px;
    }
    .linke{
        margin-right: 10px;
        list-style-type: none;
        font-size: 10px;
    }
}




